[Unit]
Description=Red Packet 2026: part 2 Milter
After=network.target

[Service]
ExecStart=/opt/red-packet-2026-part2/milter 127.0.0.1:8774
WorkingDirectory=/opt/red-packet-2026-part2/
User=root
KillMode=process
Restart=always

[Install]
WantedBy=default.target
